:root {
    --bolt-1-bounce-h-duration: 2s;
    --bolt-1-bounce-v-duration: 1.37s;
}

body{
        background: rgb(198, 96, 0);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

#width-margin{
    height: 95dvh;
    width: 95vw;
    justify-self: center;
    /*background-color: rgb(224, 48, 9);*/
    align-content: start;
}

#height-margin{
    height: 100%;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    /*background-color: rgb(40, 82, 187);*/
}

#nav-bar{
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding-left: 100px;
    padding-right: 700px;
    background-color: rgb(56, 224, 9);
    justify-content: space-between;
}

#logo-rive{
    display: none;
    position: absolute;

    width: 100vw; 
    height: 100vw;
    max-height: 100vh;
    max-width: 100vh;
    aspect-ratio: 1/1;

    animation-name: logo-to-top;
    animation-duration: 1.35s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.full-screen-rive{
    position: fixed;
    width: 100vw; 
    height: 100vw;
    max-height: 100vh;
    max-width: 100vh;
    aspect-ratio: 1/1;
    top:0%; bottom: 0%; left: 0%; right: 0%;
    margin: auto;
}

#console-container{
    display:flex;
}

#console-rive
{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    margin: auto;
    z-index: 1;
}

.project-button{
    position:absolute;
    width: 17%;
    height: 17%;
    border-radius: 50%;
    top: 60.7%;
    left: 26.4%;
    aspect-ratio: 1/1;
    z-index: 2;
    /*background-color: blue;*/
}

.services-button{
    position:absolute;
    width: 17%;
    height: 17%;
    border-radius: 50%;
    top: 60.7%;
    left: 56%;
    aspect-ratio: 1/1;
    z-index: 2;
    /*background-color: blue;*/
}

.centred-text{
    text-align: center;
}

@keyframes logo-to-top {
    0%{
        
    }
}